__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
backend/venv/
.venv/
.idea/
.vscode/
*.sqlite3
*.log
*.pot
*.swp
*.swo
*.DS_Store
build/
dist/
*.egg-info/
.git/
freelancemada/build/
freelancemada/.dart_tool/
freelancemada/.idea/
freelancemada/.vscode/
freelancemada/ios/Pods/
